<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Untitled</title>
    <link
      rel="stylesheet"
      href="/static/assets/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/css/Profile-Edit-Form-styles.css"
    />
    <link rel="stylesheet" href="/static/assets/css/Profile-Edit-Form.css" />
  </head>

  <body>
    <div class="container profile profile-view" id="profile">
      <div class="row">
        <div class="col-md-12 alert-col relative">
          <div class="alert alert-info absolue center" role="alert">
            <button
              class="btn-close"
              type="button"
              aria-label="Close"
              data-bs-dismiss="alert"
            ></button
            ><span>Profile save with success</span>
          </div>
        </div>
      </div>
      <form action="/processUpdate" method="POST">
        <div class="row profile-row">
          <div class="col-md-4 relative">
            <div class="avatar">
              <div class="avatar-bg center"></div>
            </div>
            <input
              class="form-control form-control"
              type="file"
              name="avatar-file"
            />
          </div>
          <div class="col-md-8">
            <h1>View / Edit Customer</h1>
            <hr />
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label">Name / Business</label
                  ><input
                    class="form-control"
                    type="text"
                    value="{{ customer.full_name }}"
                    name="firstname"
                  />
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label">Phone</label
                  ><input
                    class="form-control"
                    type="text"
                    value="{{ customer.telephone }}"
                    name="lastname"
                    inputmode="tel"
                  />
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label">Email </label
              ><input
                class="form-control"
                type="email"
                value="{{ customer.email }}"
                autocomplete="off"
                
                name="email"
              />
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label">Shipping Address Street</label
                  ><input
                    class="form-control"
                    value="{{ customer.shipping_street }}"
                    type="text"
                    name="password"
                    autocomplete="off"
                    
                  />
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label">Shipping Address City</label
                  ><input
                    class="form-control"
                    type="text"
                    name="confirmpass"
                    value="{{ customer.shipping_city }}"
                    autocomplete="off"
                    
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label">Shipping Address Zip</label
                  ><input
                    class="form-control"
                    type="text"
                    name="password"
                    value="{{ customer.shipping_zip }}"
                    autocomplete="off"
                    
                  />
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label"></label
                  ><input
                    class="form-control"
                    type="text"
                    name="confirmpass"
                    autocomplete="off"
                    
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label">Billing Address Street</label
                  ><input
                    class="form-control"
                    type="text"
                    name="password"
                    value="{{ customer.billing_street }}"
                    autocomplete="off"
                    
                  />
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label">Billing Address City</label
                  ><input
                    class="form-control"
                    type="text"
                    name="confirmpass"
                    value="{{ customer.billing_city }}"
                    autocomplete="off"
                    
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label">Billing Address Zip</label
                  ><input
                    class="form-control"
                    type="text"
                    name="password"
                    autocomplete="off"
                    value="{{ customer.billing_zip }}"
                    
                  />
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label"></label
                  ><input
                    class="form-control"
                    type="text"
                    name="confirmpass"
                    autocomplete="off"
                    
                  />
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-12 content-right">
                <button class="btn btn-primary form-btn" type="submit">
                  SAVE</button
                ><button class="btn btn-danger form-btn" onclick="loadPage('')" type="reset">
                  CANCEL
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets//js/Profile-Edit-Form-profile.js"></script>
    <script>    
    function loadPage(pageName) {
        event.preventDefault();
        //   fetch('/' + pageName)
        //       .then(response => response.text())
        //       .then(data => {
        //           document.getElementById('content').innerHTML = data;
        //       });
        window.pywebview.api.load_page(pageName);
        return false; // Add this line to prevent form submission
      }
    </script>

  </body>
</html>
