<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Untitled</title>
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
        <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/static/assets/css/Login-Box-En-login-box-en.css">
        <style>
        /* CSS for the pressed button effect */
      .social-login-link:active {
          background-color: #dcdcdc; /* Change the background color when pressed */
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add a box shadow when pressed */
          transition: background-color 0.2s, box-shadow 0.2s; /* Smooth transition */
      }
    </style>
    </head>
    <body>
        <div class="d-flex flex-column justify-content-center" id="login-box">
            <div class="login-box-header">
                <h4 style="color:rgb(139,139,139);margin-bottom:0px;font-weight:400;font-size:27px;">You're about to delete:</h4>
            </div>
            <div class="email-login" style="background-color: #ffffff;text-align: center;">
                <div class="d-flex justify-content-between" style="text-align: center;"></div>
            </div>
            <div class="submit-row" style="margin-bottom:8px;padding-top:0px;">
                <div class="container">
                    <div class="row" style="border-style: none;">
                        <div class="col-md-12" style="margin-top: 5px;margin-bottom: 4px;">
                            <span class="label-text" style="font-size: 21px;text-align: center;">
                                <span style="color: rgb(255, 10, 10);">{{ customer.full_name }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top: 5px;margin-bottom: 5px;border-style: none;">
                                <span class="label-text" style="font-size: 21px;text-align: center;">
                                    <span style="color: rgb(255, 10, 10);">{{ customer.billing_street }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center login-box-seperator-container">
                    <div class="login-box-seperator"></div>
                    <div class="login-box-seperator-text">
                        <p style="margin-bottom:0px;padding-left:10px;padding-right:10px;font-weight:400;color:rgb(201,201,201);"></p>
                    </div>
                </div>
                <div class="login-box-content">
                    <div class="email-login" style="background-color: #ffffff;text-align: center;">
                        <div class="d-flex justify-content-between" style="text-align: center;"></div>
                    </div>
                    <div class="fb-login box-shadow" style="background: rgb(23,154,28);">
                        <a class="d-flex flex-row align-items-center social-login-link" 
                        onclick="loadPage()">
                            <i class="fa fa-remove" style="margin-left:0px;padding-right:20px;padding-left:22px;width:56px;"></i>Cancel
                        </a>
                    </div>
                    <div class="gp-login box-shadow">
                        <a class="d-flex flex-row align-items-center social-login-link" style="margin-bottom:10px;" 
                        onclick="confirmDelete({{ customer.customerID }})"
                        >
                            <i class="fa fa-ban" style="color:rgb(255,255,255);width:56px;"></i>Confirm Delete
                        </a>
                    </div>
                </div>
            </div>
            <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
                <script>
      function confirmDelete(custID) {
        event.preventDefault();

        // Get the input element by ID
        // Call the PyWebview function to send the value to Python
        window.pywebview.api.confirm_delete(custID);
      }
          function loadPage() {
        event.preventDefault();
        //   fetch('/' + pageName)
        //       .then(response => response.text())
        //       .then(data => {
        //           document.getElementById('content').innerHTML = data;
        //       });
        window.pywebview.api.load_page("")
        return false; // Add this line to prevent form submission
      }
    </script>

        </body>
    </html>
