<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Untitled</title>
    <link
      rel="stylesheet"
      href="/static/assets/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/assets/css/Lato.css" />
    <link rel="stylesheet" href="/static/assets/fonts/ionicons.min.css" />
    <link
      rel="stylesheet"
      href="/static/assets/css/TD-BS4-Simple-Contact-Form-styles.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/css/TD-BS4-Simple-Contact-Form.css"
    />
  </head>
  <body>
    <section class="td-form">
      <div class="row td-form-wrapper">
        <div class="col td-glass">
          <form class="td-form-wrapper">
            <h1 class="text-center">Add New Customer</h1>
            <div class="form-group mb-3">
              <div class="col-md-12">
                <label class="form-label" for="name">Name or Business *</label>
                <div class="d-flex">
                  <i class="icon ion-person align-self-center"></i>
                  <input
                    class="form-control d-flex"
                    type="text"
                    autocomplete="off"
                    id="name"
                    required=""
                    placeholder="Treedax Services"
                  />
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="col-md-12">
                <label class="form-label"  for="email">Email Address *</label>
                <div class="d-flex">
                  <i class="icon ion-ios-email align-self-center"></i>
                  <input
                    class="form-control"
                    id="email"
                    type="text"
                    autocomplete="off"
                    name="phone"
                    required=""
                    placeholder="services@treedax.com"
                    inputmode="email"
                  />
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="col-md-12">
                <label class="form-label" for="phone">Phone (optional)</label>
                <div class="d-flex td-input-container">
                  <i class="icon ion-ios-telephone align-self-center"></i>
                  <input
                    class="form-control"
                    type="text"
                    id="phone"
                    autocomplete="off"
                    placeholder="555-555-1212"
                    name="phone"
                    inputmode="tel"
                  />
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="col-md-12">
                <label class="form-label" for="subject">Billing Street: *</label>
                <div class="d-flex td-input-container">
                  <i class="icon ion-ios-information align-self-center"></i>
                  <input
                    class="form-control"
                    type="text"
                    id="billing_street"
                    autocomplete="off"
                    placeholder="I really like this form, thanks!"
                    name="subject"
                    required=""
                  />
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="col-md-12">
                <label class="form-label" for="subject">Billing City: *</label>
                <div class="d-flex td-input-container">
                  <i class="icon ion-ios-information align-self-center"></i>
                  <input
                    class="form-control"
                    type="text"
                    id="billing_city"
                    autocomplete="off"
                    placeholder="I really like this form, thanks!"
                    name="subject"
                    required=""
                  />
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="col-md-12">
                <label class="form-label" for="subject">Billing Zip: *</label>
                <div class="d-flex td-input-container">
                  <i class="icon ion-ios-information align-self-center"></i>
                  <input
                    class="form-control"
                    type="text"
                    id="billing_zip"
                    autocomplete="off"
                    placeholder="I really like this form, thanks!"
                    name="subject"
                    required=""
                  />
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="col-md-12">
                <label class="form-label" for="message">Details *</label>
                <div class="d-flex td-input-container">
                  <i class="icon ion-android-create align-self-center"></i>
                  <textarea
                    class="form-control"
                    id="details"
                    placeholder="Add meaningful message here"
                    name="message"
                    rows="6"
                    cols="50"
                  ></textarea>
                </div>
              </div>
            </div>
          </form>
          <div class="container">
            <div class="row">
              <div
                class="col-md-6 col-xxl-5"
                style="padding: 0px; text-align: left; width: 333.656px"
              >
                <button
                  class="btn btn-dark float-end"
                  onclick="loadPage('')"
                  style="text-align: left; background: rgb(146, 39, 32)"
                >
                  Back / Cancel
                </button>
              </div>
              <div
                class="col-md-6 col-xxl-6"
                style="padding: 1px; width: 368px"
              >
                <button
                  onclick="submitForm()"
                  class="btn btn-dark float-end"
                  style="background: rgb(45, 112, 48)"
                >
                  Add New Customer
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js">
    </script>
    <script>
    function submitForm() {
        event.preventDefault();
        // Get the input element by ID
        var name = document.getElementById('name').value;
        // var name = element.value;
        var email = document.getElementById('email').value;
        // var email = element.value;
        var phone = document.getElementById('phone').value;
        // var phone = element.value;
        var billing_street = document.getElementById('billing_street').value;
        var billing_city = document.getElementById('billing_city').value;
        var billing_zip = document.getElementById('billing_zip').value;
        // var billing_street = element.value;
        // var detail = element.value;
        // Call the PyWebview function to send the value to Python
        if (name.trim() === '' || email.trim() === '' || billing_street.trim() === '' || phone.trim() === '') {
          window.alert('Please fill out new customer details or place a dash in place of missing details');
          // window.pywebview.api.alert_box('Please fill out new customer details or place a dash in place of missing details');
          return false; // Prevent form submission
        } else {
          window.pywebview.api.submit_new_customer(name, email, phone, billing_street, billing_city, billing_zip);
        }

    }

    function loadPage(pageName) {
        event.preventDefault();
        //   fetch('/' + pageName)
        //       .then(response => response.text())
        //       .then(data => {
        //           document.getElementById('content').innerHTML = data;
        //       });
        window.pywebview.api.load_page(pageName);
        return false; // Add this line to prevent form submission
      }
    </script>
  </body>
</html>
