<!DOCTYPE html> 
<html data-bs-theme="dark" lang="en"> 
    <head> 
        <meta charset="utf-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/> 
        <title>Untitled</title>         
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css"/> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap"/> 
        <link rel="stylesheet" href="/static/assets/css/MUSA_button-label-button-label.css"/> 
        <link rel="stylesheet" href="/static/assets/css/MUSA_button-label.css"/> 
    </head>     
    <script>
    // window.onbridge = function () {
    //     pywebview.api.importsteam().then(function (res) {
    //         document.getElementById("tabler").innerHTML = res.message;
    //     });
    // }
  </script>     
    <body> 
        <form> 
            <div class="container"> 
                <div class="row"> 
                    <div class="col-md-4"></div>                     
                    <div class="col-md-4" style="font-size: 25px"> 
                        <p>  <br/>You are about to delete:&nbsp;
 <br/>{{ customer.full_name }}
 <br/>{{ customer.billing_address }}<br/>  </p> 
                        <p>Are you sure?</p> 
                        <button class="btn btn-outline-warning" type="button" style="background-color: #d33434; margin-right: 5px; color: #ffffff; border-color: #d33434;" onclick="confirmDelete({{ customer.customerID }})"> 
                            Delete
</button>                         
                        <button class="btn btn-primary" type="button">Cancel</button>                         
                    </div>                     
                    <div class="col-md-4"></div>                     
                </div>                 
            </div>             
        </form>         
        <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>         
        <script>
          function confirmDelete(custID) {
        event.preventDefault();

        // Get the input element by ID
        // Call the PyWebview function to send the value to Python
        window.pywebview.api.confirm_delete(custID)
      }
      </script>         
    </body>     
</html>
